

header{
  text-align: center;
}

/* h1 {

} */

div {
  margin: 10px;
}

#meme-image-container {
  background-color: white;
  width: 250px;
  height: 350px;
  /* border: 1px solid black; */
  position: relative;
}

#meme-image {
  width: 250px;
  height: 350px;
}

#meme-text {
  word-wrap: break-word;
  height: 70px;
  width: 230px;
  position: absolute;
  left: 10px;
  top: 170px;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#alternative-images img { width: 100px; }

#fire {
  background-color: red;
  padding: 10px 15px;
  font-size: 25px;
}

#earth {
  background-color: green;
  padding: 10px 15px;
  font-size: 25px;
}

#water {
  background-color: blue;
  padding: 10px 15px;
  font-size: 25px;
}


.border-default {
  border: 1px solid black;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth { 
  border: 6px groove green
  /* border: 1px solid #000000; */
}